<p> Watch your favorite movie</p>
<%= render "movies/search_form" %>
<p style="color: green"><%= notice %></p>
<%= link_to 'New Movie', new_movie_path, data:{turbo_frame: "modal"} %>
<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
