<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
<h3>Comments</h3>

<ul>
  <% @movie.comments.each do |comment| %>
    <li><%= comment.name %></li>
  <% end %>
</ul>

<%= render 'comments/form', comment: Comment.new %>
<script>
debugger
 App.cable.subscriptions.create({ channel: "MoviesChannel", id: "<%= @movie.id %>" }, {
  received(comment) {
    el = document.createElement('li');
    el.innerHTML = comment;
    document.querySelector('ul').appendChild(el)
  }
});
</script>
